.home__banner-sujihealth {
    background-color: #FFE6E6;
    width: 100%;
    height: 100vh;
}

.suji_health__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.suji-health__logo {
    padding-top: 30px;

    a {
        svg {
            // width: 100%
        }
    }

}

.suji-health__paragraph {
    max-width: 607px;
    padding-top: 86px;

    p {
        font-size: 25px;
        line-height: 35px;
        color: $primary;
        font-family: $font-1;
        font-weight: $regular;
        width: 100%;
        margin: auto;
        padding-bottom: 80px;
    }
}

.suji-health__header {
    padding-bottom: 48px;

    .heading--h1 {
        font-size: 135px;
        line-height: 79px;
        color: $secondary;
        font-family: $font-2;
        font-style: italic;
        font-weight: 300;
        margin: 0;
    }
}

.submit-button {
    padding-top: 40px;


    .input-arrow--flex {
        display: flex;
        background-color: white;
        border-radius: 51px;
        width: 741px;
        height: 75px;
        border: 2px solid $secondary;

        .mail-id--textbox {
            display: flex;
            align-items: center;
            padding-left: 51px;
            width: 646px;

            input {

                height: 100%;
                width: 100%;
                border: none;
                color: $secondary;
                font-size: 25px;
                line-height: 79px;
                font-family: $font-1;

                &::placeholder {
                    color: $secondary;
                    font-size: 25px;
                    line-height: 79px;
                    font-family: $font-1;
                }
            }
        }

        .arrow__redirection {
            width: 95px;
            display: flex;
            align-items: center;
            border-left: 2px solid $secondary;
            justify-content: center;
            background-color: #AEE367;
            border-radius: 0px 51px 51px 0px;

            a {
                width: 100%;
                height: 100%;

                button {
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    width: 100%;
                    height: 100%;

                }
            }


        }
    }
}


.loader {

    text-align: center;

}


.loader span {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: -280px 60px 54px -40px;
    background: url("/static/leaf1.png");
    background-repeat: no-repeat;
    -webkit-animation: loader 10s infinite linear;
    -moz-animation: loader 10s infinite linear;

}

.loader span:nth-child(1n+2) {

    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}

.loader span:nth-child(3n+2) {

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

.loader span:nth-child(2n+2) {

    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}

.loader span:nth-child(3n+2) {

    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
}

.loader span:nth-child(4n+2) {

    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
}

.loader span:nth-child(4n+4) {

    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
}

.loader span:nth-child(3n+2) {

    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
}

@-webkit-keyframes loader {
    0% {
        width: 80px;
        height: 80px;
        opacity: 1;

        -webkit-transform: translate(0, 0px) rotateZ(0deg);
    }

    75% {
        width: 80px;
        height: 80px;
        opacity: 1;

        -webkit-transform: translate(100px, 600px) rotateZ(270deg);
    }

    100% {
        width: 80px;
        height: 80px;
        opacity: 0;

        -webkit-transform: translate(150px, 800px) rotateZ(360deg);
    }
}

@-moz-keyframes loader {
    0% {
        width: 80px;
        height: 80px;
        opacity: 1;

        -webkit-transform: translate(0, 0px) rotateZ(0deg);
    }

    75% {
        width: 80px;
        height: 80px;
        opacity: 1;

        -webkit-transform: translate(100px, 600px) rotateZ(270deg);
    }

    100% {
        width: 80px;
        height: 80px;
        opacity: 0;

        -webkit-transform: translate(150px, 800px) rotateZ(360deg);
    }
}

@media(max-width:$media-xlg) {
    .suji-health__header {
        padding-bottom: 48px;

        .heading--h1 {
            font-size: 130px;
            line-height: 79px;
        }
    }

    .suji-health__logo {
        padding-top: 20px;

        a {
            svg {
                width: 250px;
            }
        }

    }
}

@media(max-width:$media-lg) {
    .suji-health__header {
        padding-bottom: 46px;

        .heading--h1 {
            font-size: 110px;
            line-height: 79px;
        }
    }

    .suji-health__logo {
        padding-top: 20px;

        a {
            svg {
                width: 240px;
            }
        }

    }

    .suji-health__paragraph {
        padding-top: 35px;

        p {
            font-size: 23px;
            line-height: 28px;
            padding-bottom: 40px;
        }
    }

    .submit-button {
        padding-top: 40px;

        .input-arrow--flex {
            width: 500px;
            height: 75px;
        }
    }
}

@media(max-width:$media-md) {
    .suji-health__header {
        padding-bottom: 40px;
    }

    .suji-health__logo {
        padding-top: 25px;

        a {
            svg {
                width: 220px;
            }
        }
    }

    .submit-button {
        padding-top: 40px;

        .input-arrow--flex {
            width: 550px;
            height: 75px;
        }
    }

}

@media(max-width:$media-sm) {
    .suji-health__logo {
        padding-top: 20px;
    }

    .suji-health__header {
        padding-bottom: 30px;

        .heading--h1 {
            font-size: 100px;
            line-height: 79px;
        }
    }

    .suji-health__paragraph {
        padding-top: 50px;

        p {
            font-size: 23px;
            line-height: 28px;
            padding-bottom: 40px;
        }
    }

    .submit-button {
        padding-top: 40px;

        .input-arrow--flex {
            width: 450px;
            height: 65px;
        }
    }
}

@media(max-width:$media-xs) {
    .suji-health__logo {
        padding-top: 5px;
    }

    .suji-health__header {
        padding-bottom: 20px;

        .heading--h1 {
            font-size: 75px;
            line-height: 80px;
        }
    }

    .suji-health__paragraph {
        padding-top: 40px;
        max-width: 400px;

        p {
            font-size: 20px;
            line-height: 30px;
            padding-bottom: 30px;
            width: 100%;
        }
    }

    .submit-button {
        padding-top: 30px;

        .input-arrow--flex {
            width: 400px;
            height: 60px;
        }
    }
}