body {
    background-color: #FFE6E6;
    height: auto;
    width: 100%;
}

.thankyou__home-banner {

    // padding-top: 363px;
    // padding-bottom: 548px;
    height: 100vh;
}

.container {
    height: 100%;
}

.thankyou__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    height: 100%;
}

.thank-you__caption {
    padding-bottom: 100px;

    h2 {
        font-size: 159px;
        line-height: 79px;
        color: $secondary;
        font-family: $font-2;
        font-weight: $regular;
        margin: auto;
    }
}

.thank-you__discription {
    width: 607px;
    height: 75px;

    p {
        font-size: 35px;
        line-height: 40px;
        color: $primary;
        font-family: $font-1;
        font-weight: $regular;
        margin: auto;
    }
}


.loader {

    text-align: center;

}


.loader span {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: -280px 60px 54px -40px;
    background: url("/static/leaf1.png");
    background-repeat: no-repeat;
    -webkit-animation: loader 10s infinite linear;
    -moz-animation: loader 10s infinite linear;

}

.loader span:nth-child(1n+2) {

    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}

.loader span:nth-child(3n+2) {

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

.loader span:nth-child(2n+2) {

    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}

.loader span:nth-child(3n+2) {

    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
}

.loader span:nth-child(4n+2) {

    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
}

.loader span:nth-child(4n+4) {

    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
}

.loader span:nth-child(3n+2) {

    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
}

@-webkit-keyframes loader {
    0% {
        width: 80px;
        height: 80px;
        opacity: 1;

        -webkit-transform: translate(0, 0px) rotateZ(0deg);
    }

    75% {
        width: 80px;
        height: 80px;
        opacity: 1;

        -webkit-transform: translate(100px, 600px) rotateZ(270deg);
    }

    100% {
        width: 80px;
        height: 80px;
        opacity: 0;

        -webkit-transform: translate(150px, 800px) rotateZ(360deg);
    }
}

@-moz-keyframes loader {
    0% {
        width: 80px;
        height: 80px;
        opacity: 1;

        -webkit-transform: translate(0, 0px) rotateZ(0deg);
    }

    75% {
        width: 80px;
        height: 80px;
        opacity: 1;

        -webkit-transform: translate(100px, 600px) rotateZ(270deg);
    }

    100% {
        width: 80px;
        height: 80px;
        opacity: 0;

        -webkit-transform: translate(150px, 800px) rotateZ(360deg);
    }
}

@media(max-width:$media-lg) {

    .thank-you__caption {
        padding-bottom: 80px;

        h2 {
            font-size: 140px;
            line-height: 79px;
        }
    }

    .thank-you__discription {
        width: 580px;
        height: 75px;

        p {
            font-size: 30px;
            line-height: 40px;
        }
    }

}

@media(max-width:$media-md) {


    .thank-you__caption {
        padding-bottom: 80px;

        h2 {
            font-size: 140px;
            line-height: 79px;
        }
    }

    .thank-you__discription {
        width: 580px;
        height: 75px;

        p {
            font-size: 30px;
            line-height: 40px;
        }
    }

}

@media(max-width:$media-sm) {


    .thank-you__caption {
        padding-bottom: 60px;

        h2 {
            font-size: 120px;
            line-height: 79px;
        }
    }

    .thank-you__discription {
        width: 550px;
        height: 75px;

        p {
            font-size: 28px;
            line-height: 30px;
        }
    }
}

@media(max-width:$media-xs) {

    .thank-you__caption {
        padding-bottom: 40px;

        h2 {
            font-size: 80px;
            line-height: 79px;
        }
    }

    .thank-you__discription {
        width: 350px;
        height: 75px;

        p {
            font-size: 25px;
            line-height: 30px;
        }
    }
}